<ion-content [fullscreen]="true" class="reset-bg">
  <div class="reset-container">
    <ion-img src="assets/img/logo-crispy.png" alt="Logo Mr. Crispy" class="logo"></ion-img>

    <ion-text color="dark" class="welcome-text">
      <h2>Ingrese su nueva contraseña</h2>
      <p>Reestablezca su acceso</p>
    </ion-text>

    <div class="form-container">
      <ion-item class="input-modern">
        <ion-input
          type="password"
          label="Nueva Contraseña"
          labelPlacement="floating"
          clearInput="true"
          [(ngModel)]="password" name="password" id="reset-password" autocomplete="new-password">
        </ion-input>
      </ion-item>

      <ion-item class="input-modern">
        <ion-input
          type="password"
          label="Confirmar Contraseña"
          labelPlacement="floating"
          clearInput="true"
          [(ngModel)]="confirmPassword" name="confirmPassword" id="reset-confirm-password" autocomplete="new-password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="reset-button" (click)="resetPassword()">
        Reestablecer Contraseña
      </ion-button>
    </div>
  </div>
</ion-content>
